<div class="bg-white rounded-lg shadow mx-36">
  <div class="h-600 w-fill">
    <%= image_tag("https:#{@recipe.file_url}", class: "rounded-t-lg w-full") %>
  </div>
  <div class="px-5 py-1">
    <p><%= @recipe.title %></p>
  </div>

  <div class="px-5 py-1">
    <% @recipe.tags.map do |tag| %>
      <span class="inline-block bg-gray-200 text-sm px-2 py-1 rounded-full mr-2 mb-2">
        <%= tag.name %>
      </span>
    <% end %>
  </div>

  <div class="px-5 py-1">
    <%= markdown(@recipe.description) %>
  </div>

  <div class="px-5 py-1">
    <p>Recipe by <b><%= @recipe.name || '-' %></b></p>
  </div>
</div>
